%section.slide
  %h2='Visualisation'
  %div.left-text
    %section.slide
      %h3='Provide an overview'
      %ul
        %li.slide='Members are grouped by activity'
        %li.slide='k-means clustering'
        %li.slide='Different layouts'
  %div.feusd-cluster0
    %img{'src' => 'images/feusd-clusters.png'}
