%section.slide
  %h2='Visualisation'
  %div.left-text
    %section.slide
      %h3='Inside Member Groups'
      %ul
        %li.slide='Force directed layout(d3.js)'
        %li.slide='Using constraint-based optimisation(webcola)'
        %li.slide='Reduce jitters and non-overlapping nodes'
        %li.slide='Zoom/Pan and drag/drop nodes'
        %li.slide='Node sizes according to member importance'
  %div.feusd-cluster0
    %img{'src' => 'images/feusd-cluster0.png'}
