%section.slide
  %h2="SAAS for Membership Organisations"
  %div.feusd-logo
    %img{'src' => 'images/feusd-medium.png'}
    %div.feusd-slide-text
      %section.slide
        %h3="Provides"
        %ul
          %li.slide="Social Networking"
          %li.slide="Personal Recommendations"
          %li.slide="Community Generated Content"
  %div.cpd-screen
    %img{'src' => 'images/CPD_Home.png'}

