%section.slide
  %h2='Data And Visualisation'
  %div.left-text
    %section.slide
      %h3='Visualisation'
      %ul
        %li.slide='Provide an overview'
        %li.slide='Account both hairball and sparse networks'
        %li.slide='Ability to zoom in on details'
  %div.feusd-cluster0
    %img{'src' => 'images/hairball.png'}
