%section.slide
  %h2='So what?'
  %ul
    %li='Overview of communities based on activities/interests; gives us a context to explore further inside the groups'
    %li.slide="Further analysis to see how the groups are different"
    %li.slide="Importance of nodes - influencers"
    %li.slide="Popular content"
    %li.slide="Other metrics - location, expertise"
    %li.slide="Understand a person's network and their role"
    %li.slide="Hopefully help the organisation make better decisions and build communities"
    %li.slide="Better social experience and content"

