%section.slide
  %h2='Data And Visualisation'
  %div.left-text
    %section.slide
      %h3='CPD foundation - Data'
      %ul
        %li.slide='3160 users'
        %li.slide='126 connections'
        %li.slide='Sparse connections with islands of cliques'
  %div.feusd-cluster0
    %img{'src' => 'images/feusd-cluster0.png'}


