%section.slide
  %h2="Members Activity and Network"
  %div.feusd-user
    %div.feusd-slide2-text
      %section.slide
        %h3='Understand'
        %ul
          %li.slide='Network dynamics as a whole'
          %li.slide="Members' personal network and their role"
        %h3='Provide'
        %ul
          %li.slide='Better member experience'
          %li.slide='More targeted marketing'
          %li.slide='Build communities'
    %div.feusd-user-network
      %img{'src' => 'images/user-network.png'}
